<!DOCTYPE html>
<html>
    <head>
        <title>Court Costs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link rel="icon" type="image/png" href="/favicon.png" >
    </head>
<body>
  <% if(!DEV){ %>
   <iframe id="promo" src="https://catalex.nz/promo.html"
   frameborder="0"
   width="100%"
   style="display:block"
   height="59px"
   scrolling="no"
  ></iframe>
  <% } %>
<div class="header-wrap">
    <nav class="navbar navbar-default">

    </nav>

<div class="logo ">
    <div class="hammer">
        <div class="handle" ></div>
        <div class="top" ></div>
        <div class="bottom" ></div>
        <div class="cylinder" ></div>
    </div>
    <div class="block">
                <div class="top" ></div>
        <div class="bottom" ></div>
    </div>
</div>



 <div class="title">
    <h1><span class="big">C</span><span class="small">OURT</span> <span class="big">C</span><span class="small">OSTS</span></h1>
</div>
</div>

        <div id="main"></div>

    <div class="footer">
    <div class="container">
        <div class="footer-bar">
        <div class="catalex-logo"></div>
        <a href="https://catalex.nz">© <%= (new Date()).getFullYear() %>  CataLex®</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.10/iframeResizer.js"></script>
    <script>iFrameResize({log:false}, '#promo')</script>

    </body>

</html>
